
<!-- <app-login></app-login>
<app-sign-up></app-sign-up>
<profile></profile> -->

<!-- <h1>Function call on btn click</h1>
<button (click)="sum(1,2)" >Click me</button> -->


<!-- <h1>Event in Angular</h1> -->

<!-- <button (click)="handleEvent($event)" class="btnn">Click me</button> -->
<!-- <br>
<br> -->
<!-- <div ((mouseenter))="handleEvent($event)" style="background-color: green; width: 100px; height: 100px;">
  
  
</div> -->

<!-- <div (mouseenter)="handleEvent($event)" style="background-color: green; width: 100px; height: 100px;">

</div>
<br>
<div (mouseleave)="handleEvent2($event)" style="background-color: blue; width: 100px; height: 100px;">

</div>
<br>
<br>
<input type="text" name="ss" id="ss" 
(focus)="handleInput($event)"
(input)="handleInput($event)">

<h2>{{name}}</h2> -->

<!-- 
<h2>Get and Set Input field value</h2>
<h1>UserName: {{displayName}}</h1>

<input type="text" value="{{name}}" (input)="getName($event)" placeholder="enter your value">
<br>
<br>
<button (click)="showName()">Get Name</button>

<button (click)="setName()">Set Name</button>

<hr>

<h1>Email: {{email}}</h1>
<input type="text" value="{{email}}" placeholder="Enter Your Email" #emailFiled> 
<button (click)="getEmail(emailFiled.value)" >Get Email</button>
<button (click)="setEmail(                                                          )">Set Email</button> -->



<h1>If Else | Control flow</h1>
<!-- 
<button (click)="hide()">Hide div</button> <br>
<button (click)="showBtn()">Show Div</button>
<button (click)="toggle()">toggle</button>

@if (display) {
  <div style="width: 100px; height: 100px; background-color: green;">
  
  </div>
}

<hr>
<br>
<br>
<button (click)="toggleTwo()">{{toggleDiv? 'show red div':'show green div'}}</button>
<br>
<br>
@if (toggleDiv) {
  <div style="width: 100px; height: 100px; background-color: green;">
  
  </div>
}
@else {
  <div style="width: 100px; height: 100px; background-color: red;">
  
  </div>
} -->



<button (click)="handleColor(1)">red</button>
<button (click)="handleColor(2)">blue</button>
<button (click)="handleColor(3)">green</button>
<button (click)="handleColor(10)">black</button>
<input type="text" (input)="handleInput($event)" placeholder="enter a color number">



@if (color==1) {
  <div style="background-color: red; width: 100px; height: 100px;"></div>
}
@else if (color==2) {
  <div style="background-color: blue; width: 100px; height: 100px;"></div>
  
}
@else if (color==3) {
  <div style="background-color: green; width: 100px; height: 100px;"></div>
}
@else{
  <div style="background-color: black; width: 100px; height: 100px;"></div>
}