
<!-- <app-login></app-login>
<app-sign-up></app-sign-up>
<profile></profile> -->

<!-- <h1>Function call on btn click</h1>
<button (click)="sum(1,2)" >Click me</button> -->


<h1>Counter App</h1>

<div style="text-align: center;">
  <h2 class="count">{{count}}</h2>
  <button class="btn bg-red" (click)="handleCounter('minus')">Decrement</button>
  <button class="btn bg-black" (click)="handleCounter('reset')">Reset</button>
  <button class="btn bg-green"  (click)="handleCounter('plus')">Increment</button>
</div>